@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    background-color: #E56E38;
    height: 725px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

#logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.home-title{
    font-family: "Gowun Batang", "serif", georgia;
    font-size: 2em;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #6DA48F;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #25424C;
    color: #6DA48F;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}

#herobox {
    grid-column: 1/4;
    grid-row: 1/3;
}

#heromsg h1, #heromsg h4{
    text-align: center;
}

#heromsg h4{
    color: white;
}

#heroimage {
    width: 100%;
}

.home-title {
    color: #6DA48F;
    margin-top: 10px;
}

h4 {
    color: #6DA48F;
}

h2 {
    margin: 0;
}

.buttonbox {
    text-align: center;
}

.book, .join {
    background-color: #25424C;
    color: #6DA48F;
    text-decoration: none;
    font-family: "Gowun Batang", "serif", georgia;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #25424C;
    color: #6DA48F;
}

.join :hover {
    background-color: beige;
    color: #6DA48F;
}

.join {
    background-color: bisque;
}

main section{
    background-color: beige;
    text-align: center;
}

.cardimg {
    border: 10px solid bisque;
}

main section img{
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

body{
    background-color: beige;
    font-family:"Varela Round", "sans-serif", verdana;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #25424C;
}

.msg {
    background-color: #25424C;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2, .msg p {
    color: #6DA48F;
}

.msg p {
    font-family:"Varela Round", "sans-serif", verdana;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #25424C;
    color: #6DA48F;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: #6DA48F;
    text-decoration: none;
}

footer a:hover {
    color: #6DA48F;
    text-decoration: underline;
}

footer p{
    font-size: 1.2em;
    text-decoration: underline;
}