
#hero {
    width: 100%;
}

body {
    margin: 0;
}

.circlesbox {
    text-align: center;
    display: block;
}

.circle {
    width:150px;
    height:150px;
    border: 10px solid #293535;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}

