body {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(69, 154, 234);
    color: white;
}

h1 {
    font-size: 40px;
}

h1:hover{
    color: black;
}

#education-list{
    text-align: left;
    color: black;
    list-style-type: decimal;
}

img {
    text-align: center;
    width: 50%;
}

blockquote {
    font-size: 30px;
}

footer{
    color: black;
}
